Package: com.dgh0st.homecardiconlabel
Name: HomeCardIconLabel
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Enable icon and label for home card
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
